<a href="https://colab.research.google.com/github/DeepanshuPasrija/Python02082021/blob/main/Inheritence2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Employee:
  def __init__(self, id, name):
    self.id=id
    self.name=name

In [12]:
class PayrollSystem:
  def calculate_payroll(self,employees):
    print("Calculating Payroll")
    for employee in employees:
      print(f'Payroll for:{employee.id} - {employee.name}')
      print(f'- Check amount:{employee.calculate_payroll()}')
      print("")

In [13]:
class SalaryEmployee(Employee):
  def __init__(self,id,name,weekly_salary):
    super().__init__(id,name)
    self.weekly_salary = weekly_salary

  def calculate_payroll(self):
    return self.weekly_salary

In [17]:
class HourlyEmployee(Employee):
  def __init__(self,id,name,hours_worked,hour_rate):
    super().__init__(id,name)
    self.hours_worked = hours_worked
    self.hour_rate = hour_rate
  
  def calculate_payroll(self):
      return self.hours_worked*self.hour_rate

In [18]:
class CommissionEmployee(SalaryEmployee):
  def __init__(self, id,name,weekly_salary,commission):
    super().__init__(id,name,weekly_salary)
    self.commission=commission

  def calculate_payroll(self):
    fixed = super().calculate_payroll()
    return fixed + self.commission

In [19]:
salary_employee = SalaryEmployee(1,"John",1500)
hourly_employee = HourlyEmployee(2,"Jane",40,15)
commission_employee = CommissionEmployee(3,"Ray",1000,250)

payroll_system = PayrollSystem()
payroll_system.calculate_payroll([
                                  salary_employee,
                                  hourly_employee,
                                  commission_employee
])

Calculating Payroll
Payroll for:1 - John
- Check amount:1500

Payroll for:2 - Jane
- Check amount:600

Payroll for:3 - Ray
- Check amount:1250