<a href="https://colab.research.google.com/github/DeepanshuPasrija/Python02082021/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

inp = pd.Series([1,57,36,7,np.nan,9])

inp

0     1.0
1    57.0
2    36.0
3     7.0
4     NaN
5     9.0
dtype: float64

In [ ]:
dates = pd.date_range("20130101", periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01 -0.775896 -0.437470  0.979354  0.647528
2013-01-02  2.166735  0.346074 -0.608482 -1.266993
2013-01-03 -0.759761  0.858686  0.837130  1.823694
2013-01-04 -1.360608  2.077708 -0.028887  0.899194
2013-01-05  0.887300  1.042320  0.633219 -1.164925
2013-01-06 -0.438621 -0.926736 -1.343460  1.378405

In [ ]:
df2 = pd.DataFrame(
     {
         "A": 1.0,
         "B": pd.Timestamp("20130102"),
         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
         "D": np.array([3] * 4, dtype="int32"),
         "E": pd.Categorical(["test", "train", "test", "train"]),
         "F": "foo",
     }
 )

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.head(2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.tail(2)

     A          B    C  D      E    F
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [ ]:

df2[0:2]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
import pandas as pd
import numpy as np
!wget https://github.com/DeepanshuPasrija/Python02082021/blob/main/data.csv
!ls

data.csv  sample_data

In [ ]:
data = pd.read_csv("/content/data.csv")
data.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [ ]:
filter=["id","diagnosis","radius_mean","texture_mean","perimeter_mean","area_mean","smoothness_mean","compactness_mean","concavity_mean","concave points_mean","symmetry_mean","fractal_dimension_mean"]
filteredData = data[filter]
filteredData.head()

         id diagnosis  ...  symmetry_mean  fractal_dimension_mean
0    842302         M  ...         0.2419                 0.07871
1    842517         M  ...         0.1812                 0.05667
2  84300903         M  ...         0.2069                 0.05999
3  84348301         M  ...         0.2597                 0.09744
4  84358402         M  ...         0.1809                 0.05883

[5 rows x 12 columns]

In [ ]:
filteredData.sort_index(axis=1,ascending=True)

     area_mean  compactness_mean  ...  symmetry_mean  texture_mean
0       1001.0           0.27760  ...         0.2419         10.38
1       1326.0           0.07864  ...         0.1812         17.77
2       1203.0           0.15990  ...         0.2069         21.25
3        386.1           0.28390  ...         0.2597         20.38
4       1297.0           0.13280  ...         0.1809         14.34
..         ...               ...  ...            ...           ...
564     1479.0           0.11590  ...         0.1726         22.39
565     1261.0           0.10340  ...         0.1752         28.25
566      858.1           0.10230  ...         0.1590         28.08
567     1265.0           0.27700  ...         0.2397         29.33
568      181.0           0.04362  ...         0.1587         24.54

[569 rows x 12 columns]

In [ ]:
filteredData.sort_index(axis=1,ascending=False)

     texture_mean  symmetry_mean  ...  compactness_mean  area_mean
0           10.38         0.2419  ...           0.27760     1001.0
1           17.77         0.1812  ...           0.07864     1326.0
2           21.25         0.2069  ...           0.15990     1203.0
3           20.38         0.2597  ...           0.28390      386.1
4           14.34         0.1809  ...           0.13280     1297.0
..            ...            ...  ...               ...        ...
564         22.39         0.1726  ...           0.11590     1479.0
565         28.25         0.1752  ...           0.10340     1261.0
566         28.08         0.1590  ...           0.10230      858.1
567         29.33         0.2397  ...           0.27700     1265.0
568         24.54         0.1587  ...           0.04362      181.0

[569 rows x 12 columns]

In [ ]:
filteredData.sort_values(by="",ascending=True)

            id diagnosis  ...  symmetry_mean  fractal_dimension_mean
131       8670         M  ...         0.1931                 0.05796
287       8913         B  ...         0.1337                 0.05581
291       8915         B  ...         0.1879                 0.05852
403       9047         B  ...         0.1735                 0.06200
47       85715         M  ...         0.2128                 0.06777
..         ...       ...  ...            ...                     ...
449  911157302         M  ...         0.1554                 0.05661
460  911296201         M  ...         0.1793                 0.06281
461  911296202         M  ...         0.2061                 0.05623
463  911320501         B  ...         0.1516                 0.05859
464  911320502         B  ...         0.1454                 0.05549

[569 rows x 12 columns]

In [13]:
filteredData['diagnosis'].head()

0    M
1    M
2    M
3    M
4    M
Name: diagnosis, dtype: object

In [16]:
filteredData[0:7]

         id diagnosis  ...  symmetry_mean  fractal_dimension_mean
0    842302         M  ...         0.2419                 0.07871
1    842517         M  ...         0.1812                 0.05667
2  84300903         M  ...         0.2069                 0.05999
3  84348301         M  ...         0.2597                 0.09744
4  84358402         M  ...         0.1809                 0.05883
5    843786         M  ...         0.2087                 0.07613
6    844359         M  ...         0.1794                 0.05742

[7 rows x 12 columns]

In [17]:
filteredData.loc[:,["id","diagnosis"]]

           id diagnosis
0      842302         M
1      842517         M
2    84300903         M
3    84348301         M
4    84358402         M
..        ...       ...
564    926424         M
565    926682         M
566    926954         M
567    927241         M
568     92751         B

[569 rows x 2 columns]

In [18]:
filteredData.loc[:10,["id","diagnosis"]]

          id diagnosis
0     842302         M
1     842517         M
2   84300903         M
3   84348301         M
4   84358402         M
5     843786         M
6     844359         M
7   84458202         M
8     844981         M
9   84501001         M
10    845636         M

In [19]:
filteredData.iloc[0:10,0:3]

         id diagnosis  radius_mean
0    842302         M        17.99
1    842517         M        20.57
2  84300903         M        19.69
3  84348301         M        11.42
4  84358402         M        20.29
5    843786         M        12.45
6    844359         M        18.25
7  84458202         M        13.71
8    844981         M        13.00
9  84501001         M        12.46

In [20]:
filteredData.iloc[5:10,3:6]

   texture_mean  perimeter_mean  area_mean
5         15.70           82.57      477.1
6         19.98          119.60     1040.0
7         20.83           90.20      577.9
8         21.82           87.50      519.8
9         24.04           83.97      475.9

In [22]:
filteredData.iloc[5:10,:]

         id diagnosis  ...  symmetry_mean  fractal_dimension_mean
5    843786         M  ...         0.2087                 0.07613
6    844359         M  ...         0.1794                 0.05742
7  84458202         M  ...         0.2196                 0.07451
8    844981         M  ...         0.2350                 0.07389
9  84501001         M  ...         0.2030                 0.08243

[5 rows x 12 columns]

In [26]:
filteredData.iloc[[5,6,7,10],[1,4,7]]

   diagnosis  perimeter_mean  compactness_mean
5          M           82.57           0.17000
6          M          119.60           0.10900
7          M           90.20           0.16450
10         M          102.70           0.06669

In [25]:
filteredData.loc[:10,["id","diagnosis"]]
filteredData.head()

          id diagnosis
0     842302         M
1     842517         M
2   84300903         M
3   84348301         M
4   84358402         M
5     843786         M
6     844359         M
7   84458202         M
8     844981         M
9   84501001         M
10    845636         M

In [27]:
topRows = filteredData[0:100].copy()
topRows

          id diagnosis  ...  symmetry_mean  fractal_dimension_mean
0     842302         M  ...         0.2419                 0.07871
1     842517         M  ...         0.1812                 0.05667
2   84300903         M  ...         0.2069                 0.05999
3   84348301         M  ...         0.2597                 0.09744
4   84358402         M  ...         0.1809                 0.05883
5     843786         M  ...         0.2087                 0.07613
6     844359         M  ...         0.1794                 0.05742
7   84458202         M  ...         0.2196                 0.07451
8     844981         M  ...         0.2350                 0.07389
9   84501001         M  ...         0.2030                 0.08243
10    845636         M  ...         0.1528                 0.05697
11  84610002         M  ...         0.1842                 0.06082
12    846226         M  ...         0.2397                 0.07800
13    846381         M  ...         0.1847                 0.05338
14  84667401         M  ...         0.2069                 0.07682
15  84799002         M  ...         0.2303                 0.07077
16    848406         M  ...         0.1586                 0.05922
17  84862001         M  ...         0.2164                 0.07356
18    849014         M  ...         0.1582                 0.05395
19   8510426         B  ...         0.1885                 0.05766

[20 rows x 12 columns]

In [28]:
pd.isna(filteredData).head(10)

      id  diagnosis  ...  symmetry_mean  fractal_dimension_mean
0  False      False  ...          False                   False
1  False      False  ...          False                   False
2  False      False  ...          False                   False
3  False      False  ...          False                   False
4  False      False  ...          False                   False
5  False      False  ...          False                   False
6  False      False  ...          False                   False
7  False      False  ...          False                   False
8  False      False  ...          False                   False
9  False      False  ...          False                   False

[10 rows x 12 columns]

In [42]:
#filteredData.dropna(how="any")
#filteredData.fillna(value=1)

inp = pd.Series([1,57,36,7,np.nan,9])
dropped = inp.fillna(value=3)
inp

0     1.0
1    57.0
2    36.0
3     7.0
4     NaN
5     9.0
dtype: float64

In [43]:
filteredData.mean()

id                        3.037183e+07
radius_mean               1.412729e+01
texture_mean              1.928965e+01
perimeter_mean            9.196903e+01
area_mean                 6.548891e+02
smoothness_mean           9.636028e-02
compactness_mean          1.043410e-01
concavity_mean            8.879932e-02
concave points_mean       4.891915e-02
symmetry_mean             1.811619e-01
fractal_dimension_mean    6.279761e-02
dtype: float64

In [44]:
filteredData.value_counts()

id         diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean  smoothness_mean  compactness_mean  concavity_mean  concave points_mean  symmetry_mean  fractal_dimension_mean
911320502  B          13.170       18.22         84.28           537.3      0.07466          0.05994           0.04859         0.02870              0.1454         0.05549                   1
883270     B          14.220       27.85         92.55           623.9      0.08223          0.10390           0.11030         0.04408              0.1342         0.06129                   1
884626     B          12.890       14.11         84.95           512.2      0.08760          0.13460           0.13740         0.03980              0.1596         0.06409                   1
884448     B          13.200       17.43         84.13           541.6      0.07215          0.04524           0.04336         0.01105              0.1487         0.05635                   1
884437     B          10.480       19.86         66.72           337.7      0.10700          0.05971           0.04831         0.03070              0.1737         0.06440                   1
                                                                                                                                                                                            ..
927241     M          20.600       29.33         140.10          1265.0     0.11780          0.27700           0.35140         0.15200              0.2397         0.07016                   1
8510426    B          13.540       14.36         87.46           566.3      0.09779          0.08129           0.06664         0.04781              0.1885         0.05766                   1
8510653    B          13.080       15.71         85.63           520.0      0.10750          0.12700           0.04568         0.03110              0.1967         0.06811                   1
8510824    B          9.504        12.44         60.34           273.9      0.10240          0.06492           0.02956         0.02076              0.1815         0.06905                   1
8670       M          15.460       19.48         101.70          748.9      0.10920          0.12230           0.14660         0.08087              0.1931         0.05796                   1
Length: 569, dtype: int64

In [45]:
pdData = pd.Series(["CAT","UPPER","CASE"])
pdData

0      CAT
1    UPPER
2     CASE
dtype: object

In [49]:
#filteredData.diagnosis.str.lower()
pdData.str.lower()

0      m
1      m
2      m
3      m
4      m
      ..
564    m
565    m
566    m
567    m
568    b
Name: diagnosis, Length: 569, dtype: object

In [48]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -0.573779  0.661497 -1.169938 -0.210207
1 -0.419233 -1.455585 -0.758720  0.990708
2  1.673789  1.190433 -0.996064 -0.786485
3 -1.226461 -0.273705  0.153789 -1.322695
4 -0.912914  0.577232 -1.018919 -0.011962
5 -1.141362 -0.586582 -0.969946  1.316582
6  0.023822  1.060492  0.660293  0.518479
7  0.233171 -1.754629 -0.305839 -0.400216
8 -0.780930 -0.302831 -0.367104 -0.248928
9  0.289596  0.521229 -0.247479 -0.111873

In [51]:
pieces = [df[0:5],df[5:9]]

In [52]:
output = pd.concat(pieces)
output

          0         1         2         3
0 -0.573779  0.661497 -1.169938 -0.210207
1 -0.419233 -1.455585 -0.758720  0.990708
2  1.673789  1.190433 -0.996064 -0.786485
3 -1.226461 -0.273705  0.153789 -1.322695
4 -0.912914  0.577232 -1.018919 -0.011962
5 -1.141362 -0.586582 -0.969946  1.316582
6  0.023822  1.060492  0.660293  0.518479
7  0.233171 -1.754629 -0.305839 -0.400216
8 -0.780930 -0.302831 -0.367104 -0.248928

In [55]:
filteredData.groupby("id").sum()

           radius_mean  texture_mean  ...  symmetry_mean  fractal_dimension_mean
id                                    ...
8670             15.46         19.48  ...         0.1931                 0.05796
8913             12.89         13.12  ...         0.1337                 0.05581
8915             14.96         19.10  ...         0.1879                 0.05852
9047             12.94         16.17  ...         0.1735                 0.06200
85715            13.17         18.66  ...         0.2128                 0.06777
...                ...           ...  ...            ...                     ...
911157302        21.10         20.52  ...         0.1554                 0.05661
911296201        17.08         27.15  ...         0.1793                 0.06281
911296202        27.42         26.27  ...         0.2061                 0.05623
911320501        11.60         18.36  ...         0.1516                 0.05859
911320502        13.17         18.22  ...         0.1454                 0.05549

[569 rows x 10 columns]

In [56]:
filteredData.groupby("diagnosis").sum()

                   id  radius_mean  ...  symmetry_mean  fractal_dimension_mean
diagnosis                           ...
B          9476145391     4336.309  ...        62.1844                22.44366
M          7805426694     3702.120  ...        40.8967                13.28818

[2 rows x 11 columns]

In [57]:
filteredData.groupby(["id","diagnosis"]).sum()

                     radius_mean  ...  fractal_dimension_mean
id        diagnosis               ...
8670      M                15.46  ...                 0.05796
8913      B                12.89  ...                 0.05581
8915      B                14.96  ...                 0.05852
9047      B                12.94  ...                 0.06200
85715     M                13.17  ...                 0.06777
...                          ...  ...                     ...
911157302 M                21.10  ...                 0.05661
911296201 M                17.08  ...                 0.06281
911296202 M                27.42  ...                 0.05623
911320501 B                11.60  ...                 0.05859
911320502 B                13.17  ...                 0.05549

[569 rows x 10 columns]

In [58]:
df = pd.DataFrame({
    "A":["one","one","two","three"]*3,
    "B":["A","B","C"]*4,
    "C":["hello","hello","hello","bye","bye","bye"]*2,
    "D":np.random.randn(12),
    "E":np.random.randn(12),

})
df

        A  B      C         D         E
0     one  A  hello -0.245770 -1.275674
1     one  B  hello  0.378976 -0.265281
2     two  C  hello -0.110478  0.722305
3   three  A    bye -1.390538  0.184888
4     one  B    bye -1.772419 -1.614728
5     one  C    bye -0.534161  1.519160
6     two  A  hello -1.983681  0.163641
7   three  B  hello -2.087908 -1.453460
8     one  C  hello -0.765483 -0.661563
9     one  A    bye  0.999655  1.683041
10    two  B    bye  0.264958 -1.077360
11  three  C    bye -1.116544  0.744163

In [59]:
pd.pivot_table(df, values="D",index=["A","B"],columns=["C"])

C             bye     hello
A     B
one   A  0.999655 -0.245770
      B -1.772419  0.378976
      C -0.534161 -0.765483
three A -1.390538       NaN
      B       NaN -2.087908
      C -1.116544       NaN
two   A       NaN -1.983681
      B  0.264958       NaN
      C       NaN -0.110478

In [60]:
filteredData.to_csv("NewData.csv")