<a href="https://colab.research.google.com/github/DeepanshuPasrija/Python02082021/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

inp = pd.Series([1,57,36,7,np.nan,9])

inp

0     1.0
1    57.0
2    36.0
3     7.0
4     NaN
5     9.0
dtype: float64

In [ ]:
dates = pd.date_range("20130101", periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01 -0.775896 -0.437470  0.979354  0.647528
2013-01-02  2.166735  0.346074 -0.608482 -1.266993
2013-01-03 -0.759761  0.858686  0.837130  1.823694
2013-01-04 -1.360608  2.077708 -0.028887  0.899194
2013-01-05  0.887300  1.042320  0.633219 -1.164925
2013-01-06 -0.438621 -0.926736 -1.343460  1.378405

In [ ]:
df2 = pd.DataFrame(
     {
         "A": 1.0,
         "B": pd.Timestamp("20130102"),
         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
         "D": np.array([3] * 4, dtype="int32"),
         "E": pd.Categorical(["test", "train", "test", "train"]),
         "F": "foo",
     }
 )

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.head(2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.tail(2)

     A          B    C  D      E    F
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [ ]:

df2[0:2]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
import pandas as pd
import numpy as np
!wget https://github.com/DeepanshuPasrija/Python02082021/blob/main/data.csv
!ls

data.csv  sample_data

In [ ]:
data = pd.read_csv("/content/data.csv")
data.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [ ]:
filter=["id","diagnosis","radius_mean","texture_mean","perimeter_mean","area_mean","smoothness_mean","compactness_mean","concavity_mean","concave points_mean","symmetry_mean","fractal_dimension_mean"]
filteredData = data[filter]
filteredData.head()

         id diagnosis  ...  symmetry_mean  fractal_dimension_mean
0    842302         M  ...         0.2419                 0.07871
1    842517         M  ...         0.1812                 0.05667
2  84300903         M  ...         0.2069                 0.05999
3  84348301         M  ...         0.2597                 0.09744
4  84358402         M  ...         0.1809                 0.05883

[5 rows x 12 columns]

In [ ]:
filteredData.sort_index(axis=1,ascending=True)

     area_mean  compactness_mean  ...  symmetry_mean  texture_mean
0       1001.0           0.27760  ...         0.2419         10.38
1       1326.0           0.07864  ...         0.1812         17.77
2       1203.0           0.15990  ...         0.2069         21.25
3        386.1           0.28390  ...         0.2597         20.38
4       1297.0           0.13280  ...         0.1809         14.34
..         ...               ...  ...            ...           ...
564     1479.0           0.11590  ...         0.1726         22.39
565     1261.0           0.10340  ...         0.1752         28.25
566      858.1           0.10230  ...         0.1590         28.08
567     1265.0           0.27700  ...         0.2397         29.33
568      181.0           0.04362  ...         0.1587         24.54

[569 rows x 12 columns]

In [ ]:
filteredData.sort_index(axis=1,ascending=False)

     texture_mean  symmetry_mean  ...  compactness_mean  area_mean
0           10.38         0.2419  ...           0.27760     1001.0
1           17.77         0.1812  ...           0.07864     1326.0
2           21.25         0.2069  ...           0.15990     1203.0
3           20.38         0.2597  ...           0.28390      386.1
4           14.34         0.1809  ...           0.13280     1297.0
..            ...            ...  ...               ...        ...
564         22.39         0.1726  ...           0.11590     1479.0
565         28.25         0.1752  ...           0.10340     1261.0
566         28.08         0.1590  ...           0.10230      858.1
567         29.33         0.2397  ...           0.27700     1265.0
568         24.54         0.1587  ...           0.04362      181.0

[569 rows x 12 columns]

In [ ]:
filteredData.sort_values(by="",ascending=True)

            id diagnosis  ...  symmetry_mean  fractal_dimension_mean
131       8670         M  ...         0.1931                 0.05796
287       8913         B  ...         0.1337                 0.05581
291       8915         B  ...         0.1879                 0.05852
403       9047         B  ...         0.1735                 0.06200
47       85715         M  ...         0.2128                 0.06777
..         ...       ...  ...            ...                     ...
449  911157302         M  ...         0.1554                 0.05661
460  911296201         M  ...         0.1793                 0.06281
461  911296202         M  ...         0.2061                 0.05623
463  911320501         B  ...         0.1516                 0.05859
464  911320502         B  ...         0.1454                 0.05549

[569 rows x 12 columns]